{% extends "Plantilla.html" %}
{% block title %} Busqueda {% endblock %}

    {% block content %}
    <style>
        th,td { 
            border: 1px solid black;
            padding:4px;
        }
    </style>
 

 

    <div class="container" style="position: relative;transform:scale(0.7);top:130px;">
  
        <div class= "form-wrapper">
            

            
             
                <form method="POST" action="" style="position: fixed;top: 50%;left: 50%;transform: translate(-50%, -50%);">
                    {% csrf_token %}
                    {{ form.as_p }}
                    

                    <input type="submit" value="Buscar">
                </form>
            
        </div>
    </div>
    </form>
    <table  style="background:#72846B;position: relative;left: 560px;top: 190px;border-radius: 10px;border; 1px solid black">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Puesto</th>
            </tr>
        </thead>
        <tbody>
                <tr>
                    <td >{{ Datos.nombre }}</td>
                    <td>{{ Datos.apellido }}</td>
                    <td>{{ Datos.puesto }}</td>
                </tr> 
        </tbody>
    </table>
{% endblock %}
