{% extends "Plantilla.html" %}
{% block title %}Registro de Empleados{% endblock %}

    {% block content %}
   <div class="container" style="position: relative;">
      <form method="POST" action=""  style="position: fixed;top: 50%;left: 50%;transform: translate(-50%, -50%);">
        <table>
            {% csrf_token %}
            {{ form.as_p }}
            {{ model.as_table }}
        </table>

        <input type="submit" value="Registrar">
      </form>
    </div>

    

    {% endblock %}    
